<footer class="bg-dark">
	<div class="container">
		<div class="row pb-3">
			<div class="col-sm-10">
				<p class="text-light">By: <a href="https://github.com/flashcarts" class="link">flashcarts.net contributors</a> -
				<a href="/license.html" class="link">License Disclosure</a> -
				<a href="/privacy-policy.html" class="link">Privacy Policy</a>
				<br>
				<a href="/contact.html" class="link">Contact Us</a>
			</div>
			<div class="col-sm-2">
				<label for="themeSelector" class="text-light">Color scheme:</label>
				<select id="themeSelector" class="form-select form-select-dark text-light" onchange="setTheme(value)">
					<option value="default">Default</option>
					<option value="dark">Dark</option>
					<option value="light">Light</option>
				</select>
			</div>
		</div>
	</div>
</footer>
