$main-bg: #333 !default;
$main-color: #ccc !default;
$secondary-bg: #4f4f4f !default;
$header-color: #ddd !default;
$borders: #555 !default;
$borders-hover: #777 !default;
$borders-hover-color: #fff !default;
$light-borders: #444 !default;
$blockquote-color: #999 !default;
$code-bg: #5559 !default;
$code-color: #ddd !default;
$code-light: #999 !default;
$a-color: #58a6ff !default;
$small-color: gray !default;
$textarea-bg: #303030 !default;
$textarea-color: #fff !default;
$carousel-caption-bg: #333b !default;
$table-alt-bg: #303030 !default;
$kbd-bg: #666 !default;
$kbd-border: #444 !default;
$alert-secondary-bg: #444 !default;
$alert-secondary-border: #2f2f2f !default;
$details-bg: #3f3f3f !default;
$active-accordian-bg-color: #393939 !default;
$active-accordian-header-color: #222 !default;
$active-accordian-header-bg-color: #4477ac !default;

// Cards
$card-background: #444 !default;
$card-edges-background: rgba(0, 0, 0, 0.15) !default;

// Modal
$modal-borders: 1px solid rgba(0, 0, 0, 0.2) !default;

// Nav
$nav-link-color: rgba(0, 0, 0, 0.7) !default;
$nav-link-color-hover: rgba(0, 0, 0, 0.5) !default;
$nav-link-color-active: rgba(0, 0, 0, 1) !default;
$dropdown-item-bg-hover: rgba(0, 0, 0, 0.2) !default;
$primary: null !default;
$dark: #f8f9fa !default;
$dark-always: #343a40 !default;
$light: #3f3f3f !default;
$light-border: #292929 !default;
$light-placeholder: #999 !default;
$light-disabled: #303030 !default;
