html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; }

footer {
  flex-shrink: 0;
  padding-top: 20px; }

body {
  color: #ccc;
  background-color: #333; }

h1, h2, h3, h4, h5, h6 {
  color: #ddd; }

h2 {
  border-bottom: 1px solid #555; }

hr {
  opacity: 0.5; }

blockquote {
  color: #999;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #555; }

:not(pre) > code, pre {
  color: #ddd;
  background-color: #5559;
  padding: 3px;
  border-radius: 0.25rem; }

:not(pre) > code:not(.wrap) {
  white-space: nowrap; }
  @media screen and (max-width: 576px) {
    :not(pre) > code:not(.wrap) {
      white-space: normal; } }

pre {
  padding: 16px;
  border-radius: 0.5rem;
  white-space: pre; }

a > code {
  color: inherit !important; }

div.language-bash pre.highlight code::before {
  content: "$ ";
  color: #999; }

pre {
  white-space: pre-wrap; }

a, .a {
  text-decoration: none;
  text-decoration-thickness: 1px;
  color: #58a6ff;
  cursor: pointer; }

a:hover, .a:hover {
  text-decoration: underline; }

a.clean {
  text-decoration: none; }

footer a {
  color: inherit;
  font-weight: bold;
  text-decoration: underline; }

footer a:hover {
  color: inherit;
  opacity: 50%; }

small {
  font-size: 75%;
  color: gray; }

img {
  max-width: 100%;
  height: auto; }

.content {
  flex: 1 0 auto; }

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.btn, .btn a, a.btn {
  text-decoration: none; }

.btn:focus {
  box-shadow: none; }

div .btn-primary:hover {
  background-color: inherit;
  opacity: inherit; }

.bg-primary {
  background-color: #ef5350 !important; }

.btn-primary, .btn-primary:focus {
  color: rgba(0, 0, 0, 0.7);
  background-color: #ef5350 !important;
  border-color: #ef5350 !important; }

.btn-primary:hover, .btn-primary:active {
  color: rgba(0, 0, 0, 0.7) !important;
  opacity: 0.8; }

.btn-outline-primary {
  color: #ef5350;
  border-color: #ef5350; }

.btn-outline-primary:hover, .btn-outline-primary:active {
  background-color: #ef5350 !important;
  border-color: #ef5350 !important; }

.text-primary {
  background-color: #ef5350 !important; }

.btn-outline-secondary {
  color: #ccc; }

.alert-secondary {
  color: #ddd;
  background-color: #444;
  border-color: #2f2f2f; }

.text-dark {
  color: #f8f9fa !important; }

.text-dark-always {
  color: #343a40 !important; }

.bg-light {
  background-color: #3f3f3f !important;
  border-color: #292929 !important; }

.bg-light::placeholder {
  color: #999; }

.navbar a {
  text-decoration: none; }

.navbar a.navbar-brand:hover {
  opacity: 0.5; }

.navbar .nav-link {
  color: rgba(0, 0, 0, 0.7) !important; }

.navbar .nav-link:hover {
  color: rgba(0, 0, 0, 0.5) !important; }

.navbar .nav-link.active {
  color: black !important; }

.navbar .nav-link.active:hover {
  color: rgba(0, 0, 0, 0.5) !important; }

html[dir=ltr] .navbar-toggler {
  position: absolute;
  right: 0.75rem;
  top: 0.5rem; }

html[dir=rtl] .navbar-toggler {
  position: absolute;
  left: 0.75rem;
  top: 0.5rem; }

.navbar {
  min-height: 3.5rem; }

.dropdown-menu, .dropdown .hover-content {
  background-color: #ef5350;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  line-height: 0;
  margin: 0; }

.dropdown .hover-content {
  display: none; }

.dropdown-menu.show, .dropdown:hover .hover-content {
  display: block;
  height: inherit;
  line-height: inherit;
  padding: 0.5rem 0;
  visibility: visible; }

.navbar-toggler:hover + .navbar-collapse.hover-content, .navbar-collapse.hover-content:hover {
  display: block; }

.dropdown-item {
  color: rgba(0, 0, 0, 0.7); }

.dropdown-item.active {
  background-color: unset; }

.dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5); }

.img-small {
  max-width: 250px;
  max-height: 250px; }

html:not([dir=rtl]) .btn-back {
  position: absolute;
  left: 5px;
  margin: 5px 0;
  font-size: 8pt;
  padding: 5px;
  z-index: 10; }
html:not([dir=rtl]) .btn-with-qr {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0 !important;
  padding-right: 0.25rem; }
html:not([dir=rtl]) .btn-qr {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -5px !important;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
html:not([dir=rtl]) .end-3 {
  right: 1rem; }

html[dir=rtl] .btn-back {
  position: absolute;
  right: 5px;
  margin: 5px 0;
  font-size: 8pt;
  padding: 5px;
  z-index: 10; }
html[dir=rtl] .btn-with-qr {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0 !important;
  padding-left: 0.25rem; }
html[dir=rtl] .btn-qr {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -5px !important;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }
html[dir=rtl] .end-3 {
  left: 1rem; }

.input-group-text {
  color: #999;
  background-color: #3f3f3f;
  border-color: #292929; }

.form-control, .form-control:focus, .form-control::placeholder {
  color: #ccc;
  background-color: #3f3f3f;
  border-color: #292929; }

.form-control:disabled {
  background-color: #303030; }

.input-group-text, .form-control::-webkit-file-upload-button {
  background-color: #444;
  color: #ccc; }

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #2f2f2f; }

.form-control::file-selector-button {
  background-color: #444;
  color: #ccc; }

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #2f2f2f; }

.card {
  background-color: inherit; }

.card a {
  text-decoration: none;
  font-weight: normal; }

.card a:hover h4, .card a:hover small, .card a:hover p.card-text {
  opacity: 50%; }

.card-footer a {
  text-decoration: underline; }

.card-image {
  max-height: 128px; }

.card-image-header {
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center; }

.card {
  background-color: #444; }

.card-header, .card-footer {
  background-color: rgba(0, 0, 0, 0.15); }

.pointer {
  cursor: pointer; }

.card-qr {
  color: gray; }

.card-qr:hover {
  opacity: 75%; }

.qr-image {
  border-radius: 1rem; }

.modal-content {
  background-color: #333; }

.modal-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2); }

.carousel-label {
  background-color: #333b;
  border-radius: 10px; }

html[dir=lrt] .li-bullet {
  list-style: disc;
  margin-left: 1.25em; }

html[dir=rtl] .li-bullet {
  list-style: disc;
  margin-right: 1.5em; }

.header-anchor {
  text-decoration: none;
  display: none; }

h1:hover .header-anchor, h2:hover .header-anchor, h3:hover .header-anchor, h4:hover .header-anchor, h5:hover .header-anchor, h6:hover .header-anchor {
  display: inline;
  text-decoration: none; }

.form-control {
  background-color: #333;
  color: #ccc;
  border: 1px solid #555; }

.input-group-text, .form-control::-webkit-file-upload-button {
  background-color: #4f4f4f;
  color: #ccc;
  border: 1px solid #555; }

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #5559; }

.form-control::file-selector-button {
  background-color: #4f4f4f;
  color: #ccc;
  border: 1px solid #555; }

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #5559; }

table {
  margin-bottom: 1em; }

table th {
  text-align: center; }

table th, table td {
  padding: 6px 13px;
  border: 1px solid #444; }

table tr:nth-child(2n) {
  background-color: #303030; }

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #444; }

.table {
  color: inherit; }

kbd {
  padding: 3px 6px;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  line-height: 10px;
  color: #ccc;
  vertical-align: middle;
  background-color: #666;
  border: 1px solid #444;
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 #444; }

kbd.l {
  border-radius: 15px 6px 6px 6px;
  padding-left: 8px; }

kbd.r {
  border-radius: 6px 15px 6px 6px;
  padding-right: 8px; }

kbd.face {
  border-radius: 15px; }

.sidebar-container {
  font-size: 0.9rem;
  border: 1px solid #555; }

.sidebar-container ul {
  margin-bottom: 0; }

.sidebar-container li:not(:last-of-type) {
  padding-bottom: 0.25rem; }

:not(li) > details {
  margin-bottom: 1rem; }

.details-content {
  background-color: #3f3f3f;
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem; }

.footnotes li p {
  margin-bottom: 0.25rem; }

a.footnote {
  unicode-bidi: isolate; }

a.footnote::before {
  content: "["; }

a.footnote::after {
  content: "]"; }

.small-alert {
  padding: 0.5rem 1rem; }

.alert-dismissible[dir=ltr] {
  padding-left: 1rem; }

.alert-dismissible[dir=rtl] {
  padding-right: 1rem; }

.alert-dismissible[dir=ltr] .btn-close {
  left: unset;
  right: 0; }

.alert-dismissible[dir=rtl] .btn-close {
  left: 0;
  right: unset; }

.tab-container {
  display: flex;
  flex-wrap: wrap; }
  .tab-container .tab-link {
    border: 1px solid #555;
    border-bottom-width: 0;
    padding: 0.5rem 1rem;
    transition: 150ms ease; }
    @media screen and (min-width: 576px) {
      html[dir=ltr] .tab-container .tab-link:not(:first-of-type) {
        border-left-width: 0px; }
      html[dir=ltr] .tab-container .tab-link:first-of-type {
        border-top-left-radius: 0.25rem; }
      html[dir=ltr] .tab-container .tab-link:last-of-type {
        border-top-right-radius: 0.25rem; }
      html[dir=rtl] .tab-container .tab-link:not(:first-of-type) {
        border-right-width: 0px; }
      html[dir=rtl] .tab-container .tab-link:first-of-type {
        border-top-right-radius: 0.25rem; }
      html[dir=rtl] .tab-container .tab-link:last-of-type {
        border-top-left-radius: 0.25rem; } }
    @media screen and (max-width: 575px) {
      .tab-container .tab-link {
        width: 100%; }
        .tab-container .tab-link:first-of-type {
          border-radius: 0.25rem 0.25rem 0 0; } }
  .tab-container .tab {
    display: none;
    order: 99;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #555; }
    @media screen and (min-width: 576px) {
      .tab-container .tab {
        border-radius: 0 0.25rem 0.25rem 0.25rem; }
        html[dir=rtl] .tab-container .tab {
          border-radius: 0.25rem 0 0.25rem 0.25rem; } }
    @media screen and (max-width: 575px) {
      .tab-container .tab {
        border-radius: 0 0 0.25rem 0.25rem; } }
  .tab-container input:checked + .tab-link + .tab {
    display: block; }
  .tab-container input:checked + .tab-link:not(:hover):not(:active):not(:focus) {
    background-color: #555;
    border-color: #555; }
  .tab-container .tab-link:hover, .tab-container .tab-link:active, .tab-container .tab-link:focus {
    color: #fff;
    background-color: #777;
    border-color: #777; }

#faq-container {
  margin-bottom: 1rem; }
  #faq-container > details.accordian-item {
    margin-bottom: 0; }
    #faq-container > details.accordian-item > summary.accordion-button {
      color: #ddd; }
      html[dir=ltr] #faq-container > details.accordian-item > summary.accordion-button {
        padding-right: 40px; }
      html[dir=rtl] #faq-container > details.accordian-item > summary.accordion-button {
        padding-left: 40px; }
      #faq-container > details.accordian-item > summary.accordion-button::-webkit-details-marker {
        display: none; }
      #faq-container > details.accordian-item > summary.accordion-button::after {
        position: absolute;
        top: 35%; }
        html[dir=ltr] #faq-container > details.accordian-item > summary.accordion-button::after {
          right: 1rem; }
        html[dir=rtl] #faq-container > details.accordian-item > summary.accordion-button::after {
          left: 1rem; }
    #faq-container > details.accordian-item > .faq {
      background-color: #393939; }
    #faq-container > details.accordian-item[open] summary.accordion-button {
      color: #222;
      background-color: #4477ac; }
      #faq-container > details.accordian-item[open] summary.accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        transform: rotate(-180deg); }

.form-select-dark {
  background-color: #444;
  border: 1px solid #333; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

.icon-qr_code {
  font-size: 14px;
  margin-top: -3px; }

@media only screen and (min-width: 576px) {
  html[dir=rtl] .dropdown-menu-sm-end {
    --bs-position: end;
    right: auto;
    left: 0; } }
@media only screen and (min-width: 1024px) {
  .main-content {
    max-width: 1024px; } }
@media only screen and (min-width: 1200px) {
  .main-content {
    max-width: 1200px; } }
@media only screen and (min-width: 1600px) {
  .main-content {
    max-width: 75%; } }
@media only screen and (max-width: 757px) {
  .dropdown-menu {
    border: 0; }

  .dropdown-item {
    font-weight: bold; }

  .dropdown-item:hover {
    background-color: inherit; } }
@media only screen and (min-width: 576px) {
  .navbar-expand-sm .navbar-collapse {
    display: block; }

  header {
    position: absolute;
    right: 1rem; }

  nav header, nav .navbar-brand, nav .navbar-toggler, nav .navbar-collapse, nav .navbar-nav, nav li.nav-item, nav .dropdown {
    display: inline-block; }

  html[dir=ltr] .lang-select-dropdown, .navbar-toggler {
    position: absolute;
    right: 0.75rem; }

  html[dir=rtl] .lang-select-dropdown, .navbar-toggler {
    position: absolute;
    left: 0.75rem; } }
#faq-container > details.accordian-item > summary.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ddd'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }

#faq-container > details.accordian-item[open] > summary.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23222'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg); }
